@model List<WebApplication3.Models.order>
@{
    ViewBag.Title = "index";
}
<style>
    *{
        font-family:'Century Gothic';
    }
    th{
        padding:4px;
        background-color:aquamarine;
        border:3px solid black;
    }
    
</style>

<h2>index</h2>
<table class="responsive-table">
    <tr style="font-weight:bold; background-color:#00ffff">
        <th>SN</th>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Order Quantity</th>
        <th>Order date</th>

        <th colspan="2">Action</th>
    </tr>
    @foreach (var order in Model){
                <tr>
                    <td>@order.oid</td>
                    <td>@order.pid</td>
                    <td>@order.odate</td>
                    <td>@order.oqty</td>
                </tr>
            }
</table>

