@model List<WebApplication3.Models.product>
    ViewBag.Title = "index";
}

<h2>index</h2>

<table>
    <tr>
        <th>Pid</th>
        <th>Pname</th>
        <th>Pcategory</th>
        <th>Pmdate</th>
    </tr>
</table>

