
@{
    ViewBag.Title = "Create";
}

@*<<style>
        input[type=submit]
        {
            padding:5px;
            background-color:aquamarine;
            color:black;
            margin:15px 0;
            border:none;
            border-radius:10px;
        }

        input[type=submit]:hover{
            background-color:aqua;
            color:white;
        }
    </style>*@

<h2 style="text-align:center;">Add New Record</h2>


@*<form action="SaveData">*@
   @using (@Html.BeginForm("SaveData", "Employeesalary", FormMethod.Post))
   {

    <label class="col-md-12">EmployeeName: </label>
    <div class="col-md-12">
        @Html.DropDownList("employeelist", null, "Select", htmlAttributes: new { @Name = "employee_id", @class = "form-control" })
        @*<input type="text" name="employee_id" value="" class="form-control" />*@
    </div>

    <label class="col-md-12">Salary_Paid: </label>
    <div class="col-md-12">
        <input type="text" name="salary_paid" value="" class="form-control" />
    </div>


    <label class="col-md-12">Paid_date: </label>
    <div class="col-md-12">
        <input type="text" name="paid_date" value="" class="form-control" />
    </div>



    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="ADD" id="submit" />
    </div>
@*</form>*@
   }
