@model WebApplication3.Models.employee_salary_details
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("UpdateData", "employeesalary"))
{
    <label class="col-md-12">employee_id: </label>
    <div class="col-md-12">
        <input type="text" name="employee_id" value="" class="form-control" />
    </div>


    <label class="col-md-12">salary_paid: </label>
    <div class="col-md-12">
        <input type="text" name="salary_paid" value="" class="form-control" />
    </div>


    <label class="col-md-12">paid_date: </label>
    <div class="col-md-12">
        <input type="text" name="paid_date" value="" class="form-control" />
    </div>

    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="Update" id="submit" />
    </div>
}
